{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div style="max-width: 800px;margin:auto;">
  <table class="table table-bordered" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category Name</th>

      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <th scope="rows">{{this.id}}</th>
          <td>{{this.category_name}}</td>
         
      {{/each}}

    </tbody>
  </table>
</div>

<form class="row g-3 needs-validation" method="POST" action="/addcat" style="max-width: 800px;margin:auto;">
  <div class="col-6">
    <div class="col-12 d-grid">
      <label for="floatingInput">Category</label>
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Category Name"
        name="category"
        required
      />
      
    </div>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Add</button>
  </div>

</form>