

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}


{{#each rows}}
<form
  class="row g-3 needs-validation"
  method="POST"
  action="/remark/{{this.id}}"
  
>
  {{> engineer-form}}
</form>
{{/each}}